page-n-otification2 {
    .listNoBorder {
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
        border-bottom: 0px;
        background: $royal;
    }

    .textBandeau {
        font-weight: 600;
        text-align: center;
        margin-top: 0px;
        margin-bottom: 0px;
        padding-top: 2.5%;
    }
}
